.body{
    width: 100vw;
    min-height:100vh;
}
.carouselBody{

    width: 100vw;
    min-height:100vh ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    flex-direction: column;
    padding-top: 6%;
    background:linear-gradient(to right, #a51ed6, #b78fd9)
}
.landingInfoContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.landingTextContainer{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carouselBodyV2{

    width: 100vw;
    min-height:400px ;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    flex-direction: column;
    padding-top: 3%;
}

.containerIconV2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4ecf5;
    border-bottom: 1px solid rgb(220, 235, 248);
    padding-left: 30px;
    padding-right: 30px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.containerIconV3{
    width: 100%;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #52ace1;
    
}
.IconBlueContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    background:linear-gradient(to right, #a51ed6, #b78fd9);
}
.dataModulContainerV2{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(233, 232, 232, 0.209);
    /* background-color: #e0c0ef25; */
}
.datainfoContainer{
    width: 100%;
    max-width: 900px;
    height: 220px;
    background-color: #011140;
    background-color: rgba(246, 246, 244, 0.622);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.imageInfoContainer{
    width: 20%;
    height: 100%;
    display: flex;
    align-items:start;
    justify-content: start;
}
.imageLanding{
    position: relative;
    bottom: 40px;
    right: 40px;
}
.textInfoContainer{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dataModulContainerV4{
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(238, 201, 245, 0.434);
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
}
.NoticeContainer{
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Footer{
    width: 100%;
    background:linear-gradient(to right, #a51ed6, #b78fd9);
    height: 170px;
    border-top: 3px solid white ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.dataModulContainerV3{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #c5b2cd40;
}
.SocialContainer{
    width: 100px;
    height: 100px;
    cursor:pointer;
    background-color: rgba(193, 127, 211, 0.573);
    border-radius: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    transition: 1s;
}
.SocialContainer:hover{
    transform: scale(1.1);
}
.IconBlueContainerV2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    border-radius: 30px 30px 0 0;
    background:linear-gradient(to right, rgb(251, 247, 253), #ffffff);
}
.ImageLanding{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.NewsSwiper{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding: 10px;
    transition: 1s;
    border-radius: 20px;
    background-color: #fff;
}
.NewsSwiper2{
    min-height: 150px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding: 10px;
    margin-left: 10px !important;
    transition: 1s;
    border-radius: 20px;
    background-color: #fff;
    
}
.justify{
    text-align: justify !important;
}
.ListData{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.NewsSwiper:hover{
    transform: scale(1.02);

}
.SwiperImage{
    width: 100%;
    height: 270px;
    border-radius: 20px !important;
}
.SwiperImageV3{
    border-radius: 20px !important;
}
.SwiperImage2{
    min-width: 60px;
    height: 60px;
    border-radius: 60px !important;
}
.TitleNews{
    text-align: center;
}
.InfoNews{
    text-align: center;
}
.ContainerImage{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 70px;
}
.lineColor{
    width: 50px;
    border-bottom: 1px solid #1e80d6;
    margin-top: 20px;
}
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .visible {
    opacity: 1;
  }
.LandingModule{
    width: 300px !important;
    height: 435px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: rgba(253, 254, 255, 0.861);
    max-width: 800px;
    padding: 0px;
    margin: 10px;
    margin-left:65px;
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
    cursor:pointer
    /* box-shadow: 10px 10px 10px rgba(0.1, 0.5, 0.1, 0.1); */
}
.LandingModule:hover{
    box-shadow: 10px 10px 10px rgba(0.1, 0.5, 0.1, 0.1);
    transform: scale(1.05);
}

.LandingModule2{
    width: 300px !important;
    height: 435px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: rgba(253, 254, 255, 0.861);
    max-width: 800px;
    padding: 0px;
    margin: 10px;
    margin-left:65px;
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 1s;
    cursor:pointer
    /* box-shadow: 10px 10px 10px rgba(0.1, 0.5, 0.1, 0.1); */
}
.LandingModule2:hover{
    box-shadow: 10px 10px 10px rgba(0.1, 0.5, 0.1, 0.1);
    transform: scale(1.05);
}
.DataLandingModule{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.green{
    color:#98d722 !important ;
}
.blue{
    color:#011140 !important;
}
.div:where(.swal2-container) button:where(.swal2-styled).swal2-deny{
    padding-top: 0.5rem !important;
    border-radius: 1.75em !important;
}
.swal2-deny{
    padding-top: 0.5rem !important;
    border-radius: 1.75em !important;
}
.divsContainer{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.item{
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: #B5BC34;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    transition: 1s;
}
/* .item:hover{
    background-color: #0367A6;
} */
.titleLobby{
    color: white;
    width: 70%;
    max-width: 800px;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    position: relative;
    top: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.textLobby{
    width: 70%;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: 800;
}

.buttonElement{
    background-color: #c57aea;
    width: 160px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 1s;
}

.buttonElement:hover{
    background-color: #8c54a8;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}
.textLanding{
    font-size:46px;
    text-align: center;
    color:#fff;
    font-weight:800
}
.textLandingV2{
    font-size:16px;
    color:#fff;
    font-weight:800
}
.white{
    color: white !important;
}
/* ---------------------------------------------------
    TYPED CURSOR
  ----------------------------------------------------- */

  .typed-cursor.typed-cursor--blink {
    color: transparent;
    font-size: 32px;
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
  }
  
  .typed-cursor {
    color: transparent;
    font-size: 32px;
    opacity: 1;
  }

  #dropdown-basic{
    position: relative !important;
    border-bottom: 2px solid transparent !important; /* Establece un borde inicialmente transparente */
    opacity: 1; /* Establece la opacidad inicial a 1 (completamente visible) */
    transition: all 0.3s !important; /* Aplica una transición suave a todas las propiedades */
  }
  
  #dropdown-basic:before {
    content: "" !important;
    position: absolute !important;
    bottom: 0 !important;
    left: 50% !important; /* Posiciona el elemento en el centro */
    width: 0 !important;
    border-bottom: 4px solid !important; /* Establece el color y grosor del borde */
    transition: all 0.3s !important; /* Aplica una transición suave al borde inferior */
    transform: translateX(-50%) !important; /* Centra el borde en relación al elemento padre */
    opacity: 0 !important; /* Establece la opacidad inicial a 0 (oculto) */
  }
  
  #dropdown-basic:hover:before {
    width: 100% !important; /* Establece el ancho del borde al 100% al hacer hover */
    opacity: 1 !important; /* Hace que el borde sea completamente visible al hacer hover */
  }

  .icon-scroll,
.icon-scroll:before {
  position: absolute;
}

.icon-scroll {
  z-index: 5;
  width: 30px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  -khtml-border-radius: 1rem;
  margin-bottom: 3rem !important;
}

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: 8px;
  top: 8px;
  border-radius: 6rem;
  -webkit-border-radius: 6rem;
  -moz-border-radius: 6rem;
  border-radius: 6rem;
  -khtml-border-radius: 6rem;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll
}
@keyframes scroll {
    0% {
      opacity: 1
    }
  
    100% {
      opacity: 0;
      transform: translateY(26px)
    }
  }

  #SpanHome {
    display: block;
    border-right: 4px solid;
    /* width: 24ch; */

    color: rgb(255, 255, 255);
    animation: typing 1.5s steps(24), blink .5s infinite step-end alternate;
    overflow:hidden;
    }

@keyFrames typing {

    from { width: 0}
    }

@keyFrames blink {
     0% { border-color: transparent}
    }



.ContainerInfoModul2{
    width: 80%;
    max-width: 600px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    justify-content: center;
    align-items: center;
}
/*MEDIA QUERIES*/

@media (max-width:1024px) and (min-height:600px) {

    .titleLobby{
        color: white;
        width: 100%;
        font-size: 50px;
        text-align: center;
        font-weight: 700;
        position: relative;
        top: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .textLanding{
        font-size:36px;
        color:#fff;
        font-weight:800;
        text-align: center;
    }
    .textLandingV2{
        font-size:16px;
        color:#fff;
        font-weight:800;
        text-align: center;
    }
    .Landing_logo{
        width: 50px !important;
        height: 50px !;
    }
    .landingTextContainer{
        width: 100%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        font-size: 10px !important;
    }
    /* .landingImageContainer{
        display: none !important;
    } */
    .carouselBody{

        width: 100vw;
        min-height:100vh ;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        flex-direction: column;
        padding-top: 6%;
    }

}

/* tablets */

@media (max-width:1024px) {

    .titleLobby{
        color: white;
        width: 100%;
        font-size: 50px;
        text-align: center;
        font-weight: 700;
        position: relative;
        top: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .textLanding{
        font-size:36px;
        color:#fff;
        font-weight:800;
        text-align: center;
    }
    .textLandingV2{
        font-size:16px;
        color:#fff;
        font-weight:800;
        text-align: center;
    }
    .Landing_logo{
        width: 50px !important;
        height: 50px !;
    }
    .landingTextContainer{
        width: 100%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        font-size: 10px !important;
        position: relative;
        top: 20px;
    }
    /* .landingImageContainer{
        display: none !important;
    } */
    .carouselBody{

        width: 100vw;
        min-height:100vh ;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        flex-direction: column;
        padding-top: 6%;
    }

}

/* movile screens */

@media (min-width: 0px) and (max-width: 730.98px){
    .datainfoContainer{
        width: 100%;
        max-width: 900px;
        min-height: 420px;
        background-color: #011140;
        background-color: rgba(246, 246, 244, 0.622);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    
    .imageInfoContainer{
        width: 100%;
        height: 200px;
        display: flex;
        align-items:center;
        justify-content: center;
    }
    .textInfoContainer{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .imageLanding{
        bottom: 0px !important;
        right: 0px !important;
    }
}

@media (max-width:400px){

    
    .LandingModule{
        width: 200px !important;
        height: 435px;
        border-radius: 30px;
        border: 1px solid white;
        background-color: rgba(253, 254, 255, 0.861);
        max-width: 800px;
        padding: 0px;
        margin: 10px;
        margin-left:65px;
        margin-top: 30px;
        margin-bottom: 30px;
        min-height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 1s;
        cursor:pointer
        /* box-shadow: 10px 10px 10px rgba(0.1, 0.5, 0.1, 0.1); */
    }
}

@media (max-width:700px) {
    .offcanvas-body{
        padding: 0px !important;
    }
    .ContainerInfoModul{
        padding-left: 0px !important;
    }
    .ContainerImageModul_2{
        padding-top: 10px !important;
    }
    
    .titleLobby{
        color: white;
        width: 100%;
        font-size: 50px;
        text-align: center;
        font-weight: 700;
        position: relative;
        top: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .textLanding{
        font-size:26px;
        color:#fff;
        font-weight:800;
        text-align: center;
    }
    .textLandingV2{
        font-size:16px;
        color:#fff;
        font-weight:800;
        text-align: center;
    }
    .landingTextContainer{
        width: 100%;
        padding: 5px;
        display: flex;
        flex-direction: column;
    }
    /* .landingImageContainer{
        display: none !important;
    } */
    .carouselBody{

        width: 100vw;
        min-height:100vh ;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        flex-direction: column;
        padding-top: 6%;
    }
}


@media (min-width: 0px) and (max-width: 359.98px){

    .ContainerInfoModul2{
        width: 80%;
        max-width: 600px;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        padding-left: 60px;
        justify-content: center;
        align-items: center;
      }
  

}

@media (min-width: 360px) and (max-width: 705.98px){
    .ContainerInfoModul2{
        width: 80%;
        max-width: 600px;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        padding-left: 60px;
        justify-content: center;
        align-items: center;
    }
}