/* ---------------------------------------------------
  CARD - INDICATOR MENU
----------------------------------------------------- */
.ContainerFormProfile{
  width: 100%;
  min-height: 560px;
}

.lastModuleContainer{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ContainerImageModul{
  width: 200px;
  height: 300px;
  border-radius: 30px;
  background-color: #FFF;
  
}
.description_moduls{
  display: block;
  line-height: 1.0;
  text-overflow: ellipsis;
  overflow: hidden;
}


.ContainerInfoModul{
  width: 80%;
  max-width: 600px;
  height: 300px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}
.classroomContainer{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divClass{
  width: 80%;
  max-width: 800px;
  height: 100px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 20px;
}
.ImageContainerClass{
  width: 80px;
  background-color: rgba(240, 222, 248, 0.429);
  height: 80px;
  border-radius: 70px;
  overflow: hidden;
}
.TextContainerClass{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#card-technical-material .card {
    width: 110px !important;
    height: 110px;
    margin: 0 auto !important;
    transition: all 0.2s ease;
    padding: 0 !important;
    border-radius: 0.938rem !important;
    -webkit-border-radius: 0.938rem !important;
    -moz-border-radius: 0.938rem !important;
    -khtml-border-radius: 0.938rem !important;
  }
  
  #card-technical-material .card:hover .button-delete-,
  #card-technical-material .card:focus .button-delete- {
    display: block !important;
    transition: all 0.2s ease !important;
  }
  
  #card-technical-material .card:hover .button-delete-,
  #card-technical-material .card:focus .button-delete- {
    display: block !important;
    transition: all 0.2s ease !important;
  }
  
  .button-delete- {
    display: none !important;
    transition: all 0.2s ease !important;
  }
  
  /* ---------------------------------------------------
      SWIPER - TECHNICAL MATERIAL
    ----------------------------------------------------- */
  
  .swiper-container-technical-material- .swiper-wrapper {
    padding-left: 4px;
  }
  
  .swiper-container-technical-material- .swiper-wrapper .swiper-slide {
    width: auto !important;
    max-width: 150px;
    color: var(--color-black-);
    transition: all 0.3s ease;
  }
  
  .swiper-container-technical-material- .swiper-wrapper .swiper-slide:hover {
    color: var(--color-secondary-purple-);
  }
  
  .swiper-container-technical-material- .swiper-wrapper .swiper-slide.swiper-slide-active #card-technical-material .card {
    width: 100%;
    max-height: auto !important;
    min-height: auto;
    margin: 0 auto;
    z-index: 2;
  }
  
  .min-height-content- {
    height: auto;
    min-height: 575px;
  }
  
  /* ---------------------------------------------------
    STYLES VIEW OF DOCUMENTATION
  ----------------------------------------------------- */
  
  /* ---------------------------------------------------
    NAVLINK 
  ----------------------------------------------------- */
  
  .navlink-active- {
    color: var(--color-white-);
    background-color: var(--color-purple-rgba-);
  }
  
  /* ---------------------------------------------------
    CARD - DOCUMENT MENU
  ----------------------------------------------------- */
  
  #card-document .card {
    width: 180px !important;
    height: 230px;
    margin: 0 auto !important;
    transition: all 0.3s ease;
    padding: 0 !important;
    border-radius: 0.938rem !important;
    -webkit-border-radius: 0.938rem !important;
    -moz-border-radius: 0.938rem !important;
    -khtml-border-radius: 0.938rem !important;
  }
  
  #card-document .card .card-img-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .wrapper-icon-document-mhc- {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-secondary-purple-);
    color: var(--color-tertiary-white-);
  }
  
  .wrapper-icon-document-legal- {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-quinary-purple-);
    color: var(--color-tertiary-white-);
  }
  
  .wrapper-icon-document-job- {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-quaternary-blue-);
    color: var(--color-tertiary-white-);
  }
  
  .wrapper-icon-document-collaborator- {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-secondary-blue-);
    color: var(--color-tertiary-white-);
  }
  
  .wrapper-icon-document-practical-guides- {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-quaternary-green-);
    color: var(--color-tertiary-white-);
  }
  
  .wrapper-icon-activity-forms- {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-tertiary-green-);
    color: var(--color-tertiary-white-);
  }
  
  .wrapper-icon-sst- {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-aquamarine-);
    color: var(--color-tertiary-white-);
  }
  
  .wrapper-icon-document-active- {
    width: 70px;
    height: 70px;
    background-color: var(--color-tertiary-white-);
    border-radius: 50%;
    color: var(--color-secondary-purple-);
  }
  
  .icon-mhc:before {
    content: "\e909";
    font-size: 30px;
    color: var(--color-tertiary-white-);
  }
  
  .icon-mhc-active:before {
    content: "\e909";
    font-size: 30px;
    color: var(--color-secondary-purple-);
  }
  
  .icon-legal:before {
    content: "\e909";
    font-size: 30px;
    color: var(--color-tertiary-white-);
  }
  
  .icon-legal-active:before {
    content: "\e909";
    font-size: 30px;
    color: var(--color-secondary-purple-);
  }
  
  .icon-job:before {
    content: "\e909";
    font-size: 30px;
    color: var(--color-tertiary-white-);
  }
  
  .icon-job-active:before {
    content: "\e909";
    font-size: 30px;
    color: var(--color-secondary-purple-);
  }
  
  .icon-collaborator:before {
    content: "\e909";
    font-size: 30px;
    color: var(--color-tertiary-white-);
  }
  
  .icon-collaborator-active:before {
    content: "\e909";
    font-size: 30px;
    color: var(--color-secondary-purple-);
  }
  
  .icon-practical-guides:before {
    content: "\e909";
    font-size: 30px;
    color: var(--color-tertiary-white-);
  }
  
  .icon-practical-guides-active:before {
    content: "\e909";
    font-size: 30px;
    color: var(--color-secondary-purple-);
  }
  
  .icon-activity-forms:before {
    content: "\e909";
    font-size: 30px;
    color: var(--color-tertiary-white-);
  }
  
  .icon-activity-forms-active:before {
    content: "\e909";
    font-size: 30px;
    color: var(--color-secondary-purple-);
  }
  
  .icon-sst:before {
    content: "\e909";
    font-size: 30px;
    color: var(--color-tertiary-white-);
  }
  
  .icon-sst-active:before {
    content: "\e909";
    font-size: 30px;
    color: var(--color-secondary-purple-);
  }
  
  .icon-folder:before {
    content: "\e909";
    color: var(--color-black-);
    font-size: 26px;
  }
  
  #card-document .card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  #card-document .card:hover img {
    transform: scale(1.05);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  /* ---------------------------------------------------
    SWIPER - DOCUMENT
  ----------------------------------------------------- */
  
  .swiper-container-document .swiper-wrapper .swiper-slide {
    width: auto !important;
  }
  
  .swiper-container-document .swiper-wrapper .swiper-slide.swiper-slide-active #card-document .card {
    width: 100%;
    max-height: auto !important;
    min-height: auto;
    margin: 0 auto;
    z-index: 2;
  }
  
  /* ---------------------------------------------------
    SWIPER - DOCUMENT BULLETS HORIZONTAL (CUSTOMERS)
  ----------------------------------------------------- */
  
  .swiper-container-document .swiper-pagination-fraction,
  .swiper-container-document .swiper-pagination-custom,
  .swiper-container-document.swiper-horizontal>.swiper-pagination-bullets {
    bottom: 5px;
    width: 100%;
  }
  
  .swiper-container-document.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
  }
  
  .swiper-container-document .swiper-pagination-bullet {
    width: 14px !important;
    height: 14px !important;
    font-family: 'Supreme-Extrabold' !important;
    font-weight: 400;
    text-align: center;
    line-height: 16px;
    font-size: 80px;
    color: var(--color-tertiary-white-);
    opacity: 1 !important;
    border-radius: 6rem;
    -webkit-border-radius: 6rem;
    -moz-border-radius: 6rem;
    border-radius: 6rem;
    -khtml-border-radius: 6rem;
    border: 2px solid var(--color-gray-);
    background: transparent !important;
    transition: all 0.4s ease-out;
  }
  
  .swiper-container-document .swiper-pagination-bullet:hover {
    border: 2px solid var(--color-secondary-white-);
    background: var(--color-secondary-black-) !important;
    transition: all 0.4s ease-out;
  }
  
  .swiper-container-document .swiper-pagination-bullet-active {
    width: 14px !important;
    height: 14px !important;
    opacity: 1;
    color: var(--color-secondary-black-) !important;
    font-family: 'Supreme-Extrabold' !important;
    font-weight: bold;
    font-size: 80px;
    text-shadow: 2px 2px 3px var(--color-tertiary-black-rgba-);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    border: 2px solid var(--color-secondary-white-);
    background: var(--color-secondary-black-) !important;
  }
  
  /* ---------------------------------------------------
    CARD - FILE
  ----------------------------------------------------- */
  
  .wrapper-card-file- {
    width: auto;
    min-width: auto;
    max-width: 150px;
    white-space: normal!important;
    color: var(--color-black-);
    transition: all 0.2s ease;
  }
  
  .wrapper-card-file-:hover {
    color: var(--color-secondary-purple-);
  }
  
  #card-file .card {
    width: 110px !important;
    height: 110px;
    margin: 0 auto !important;
    transition: all 0.3s ease;
    padding: 0 !important;
    border-radius: 0.938rem !important;
    -webkit-border-radius: 0.938rem !important;
    -moz-border-radius: 0.938rem !important;
    -khtml-border-radius: 0.938rem !important;
  }
  
  #card-file .card:hover .button-delete-,
  #card-file .card:focus .button-delete- {
    display: block !important;
    transition: all 0.3s ease !important;
  }
  
  #card-file .card:hover .button-delete-,
  #card-file .card:focus .button-delete- {
    display: block !important;
    transition: all 0.3s ease !important;
  }
  
  .button-delete- {
    display: none !important;
    transition: all 0.3s ease !important;
  }
  
  /* ---------------------------------------------------
    CONTAINER FOLDERS
  ----------------------------------------------------- */
  
  .wrapper-folders- {
    height: 500px;
    min-height: 500px;
    max-height: 800px;
    overflow-x: auto !important;
  }
  
  /* ---------------------------------------------------
        MEDIAQUERIES
    ----------------------------------------------------- */
  
  @media (min-width: 0px) and (max-width: 359.98px) {
    
    .dateClass{
      display: none;
    }
    
    .lastModuleContainer{
      width: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .ContainerImageModul{
      width: 200px;
      height: 300px;
      border-radius: 30px;
      background-color: #FFF;
      
    }
    
    .ContainerInfoModul{
      width: 80%;
      max-width: 600px;
      height: 300px;
      display: flex;
      flex-direction: column;
      padding-left: 60px;
    }


    /* ---------------------------------------------------
        CARD - PORTFOLIO
      ----------------------------------------------------- */
  
    #card-document .card {
      width: 155px !important;
      height: 220px;
    }
  
    .wrapper-icon-document-mhc-,
    .wrapper-icon-document-job-,
    .wrapper-icon-document-collaborator-,
    .wrapper-icon-document-practical-guides-,
    .wrapper-icon-document-active- {
      width: 55px;
      height: 55px;
    }
  
    .icon-mhc:before,
    .icon-mhc-active:before {
      font-size: 26px;
    }
  
    .icon-job:before,
    .icon-job-active:before {
      font-size: 26px;
    }
  
    .icon-collaborator:before,
    .icon-collaborator-active:before {
      font-size: 26px;
    }
  
  }
  
  @media (min-width: 360px) and (max-width: 575.98px) {
    .dateClass{
      display: none;
    }
    .lastModuleContainer{
      width: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .ContainerImageModul{
      width: 200px;
      height: 300px;
      border-radius: 30px;
      background-color: #FFF;
      
    }
    
    .ContainerInfoModul{
      width: 100%;
      max-width: 600px;
      min-height: 300px;
      
      display: flex;
      flex-direction: column;
      padding-left: 60px;
    }


    /* ---------------------------------------------------
        CARD - PORTFOLIO
      ----------------------------------------------------- */
  
    #card-document .card {
      width: 155px !important;
      height: 200px;
    }
  
    .wrapper-icon-document-mhc-,
    .wrapper-icon-document-job-,
    .wrapper-icon-document-collaborator-,
    .wrapper-icon-document-practical-guides-,
    .wrapper-icon-document-active- {
      width: 55px;
      height: 55px;
    }
  
    .icon-mhc:before,
    .icon-mhc-active:before {
      font-size: 26px;
    }
  
    .icon-job:before,
    .icon-job-active:before {
      font-size: 26px;
    }
  
    .icon-collaborator:before,
    .icon-collaborator-active:before {
      font-size: 26px;
    }
  
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
  
    /* ---------------------------------------------------
        CARD - PORTFOLIO
      ----------------------------------------------------- */
  
    #card-document .card {
      width: 172px !important;
      height: 220px;
    }
  
    .wrapper-icon-document-mhc-,
    .wrapper-icon-document-job-,
    .wrapper-icon-document-collaborator-,
    .wrapper-icon-document-practical-guides-,
    .wrapper-icon-document-active- {
      width: 65px;
      height: 65px;
    }
  
    .icon-mhc:before,
    .icon-mhc-active:before {
      font-size: 32px;
    }
  
    .icon-job:before,
    .icon-job-active:before {
      font-size: 32px;
    }
  
    .icon-collaborator:before,
    .icon-collaborator-active:before {
      font-size: 32px;
    }
  
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
  
    /* ---------------------------------------------------
        CARD - PORTFOLIO
      ----------------------------------------------------- */
  
    #card-document .card {
      width: 180px !important;
      height: 230px;
    }
  
    .wrapper-icon-document-mhc-,
    .wrapper-icon-document-job-,
    .wrapper-icon-document-collaborator-,
    .wrapper-icon-document-practical-guides-,
    .wrapper-icon-document-active- {
      width: 70px;
      height: 70px;
    }
  
    .icon-mhc:before,
    .icon-mhc-active:before {
      font-size: 30px;
    }
  
    .icon-job:before,
    .icon-job-active:before {
      font-size: 30px;
    }
  
    .icon-collaborator:before,
    .icon-collaborator-active:before {
      font-size: 30px;
    }
  
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
  
    /* ---------------------------------------------------
        CARD - PORTFOLIO
      ----------------------------------------------------- */
  
    #card-document .card {
      width: 180px !important;
      height: 230px;
    }
  
    .wrapper-icon-document-mhc-,
    .wrapper-icon-document-job-,
    .wrapper-icon-document-collaborator-,
    .wrapper-icon-document-practical-guides-,
    .wrapper-icon-document-active- {
      width: 70px;
      height: 70px;
    }
  
    .icon-mhc:before,
    .icon-mhc-active:before {
      font-size: 30px;
    }
  
    .icon-job:before,
    .icon-job-active:before {
      font-size: 30px;
    }
  
    .icon-collaborator:before,
    .icon-collaborator-active:before {
      font-size: 30px;
    }
  
  }
  
  @media (min-width: 1200px) and (max-width: 1399.98px) {
  
    /* ---------------------------------------------------
        CARD - PORTFOLIO
      ----------------------------------------------------- */
  
    #card-document .card {
      width: 180px !important;
      height: 230px;
    }
  
    .wrapper-icon-document-mhc-,
    .wrapper-icon-document-job-,
    .wrapper-icon-document-collaborator-,
    .wrapper-icon-document-practical-guides-,
    .wrapper-icon-document-active- {
      width: 70px;
      height: 70px;
    }
  
    .icon-mhc:before,
    .icon-mhc-active:before {
      font-size: 30px;
    }
  
    .icon-job:before,
    .icon-job-active:before {
      font-size: 30px;
    }
  
    .icon-collaborator:before,
    .icon-collaborator-active:before {
      font-size: 30px;
    }
  
  }
  
  @media (min-width: 1400px) and (max-width: 1919.98px) {
  
    /* ---------------------------------------------------
        CARD - PORTFOLIO
      ----------------------------------------------------- */
  
    #card-document .card {
      width: 180px !important;
      height: 230px;
    }
  
    .wrapper-icon-document-mhc-,
    .wrapper-icon-document-job-,
    .wrapper-icon-document-collaborator-,
    .wrapper-icon-document-practical-guides-,
    .wrapper-icon-document-active- {
      width: 70px;
      height: 70px;
    }
  
    .icon-mhc:before,
    .icon-mhc-active:before {
      font-size: 30px;
    }
  
    .icon-job:before,
    .icon-job-active:before {
      font-size: 30px;
    }
  
    .icon-collaborator:before,
    .icon-collaborator-active:before {
      font-size: 30px;
    }
  
  }
  
  @media (min-width: 1920px) and (max-width: 2699.98px) {
  
    /* ---------------------------------------------------
        CARD - PORTFOLIO
      ----------------------------------------------------- */
  
    #card-document .card {
      width: 180px !important;
      height: 230px;
    }
  
    .wrapper-icon-document-mhc-,
    .wrapper-icon-document-job-,
    .wrapper-icon-document-collaborator-,
    .wrapper-icon-document-practical-guides-,
    .wrapper-icon-document-active- {
      width: 70px;
      height: 70px;
    }
  
    .icon-mhc:before,
    .icon-mhc-active:before {
      font-size: 30px;
    }
  
    .icon-job:before,
    .icon-job-active:before {
      font-size: 30px;
    }
  
    .icon-collaborator:before,
    .icon-collaborator-active:before {
      font-size: 30px;
    }
  
  }