.heightImportant{
    height: 400px !important;
}

/* ---------------------------------------------------
    PHOTO IMG
  ----------------------------------------------------- */

  .ContainerForm{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .CloseButton{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    transition: 1s;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .CloseButton:hover{
    transform: scale(1.1);
  }
  .ContainerPhoto{
    width: 100px;
    height: 100px;
    overflow: hidden;
    background-color: rgba(130, 130, 130, 0.266);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
  }
/*   
  .file-input-photo- {
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
  } */
  
  .file-input-photo-:focus {
    outline: none;
  }


  .custom-input-file {
    background-color: #941B80;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto 0;
    min-height: 15px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 200px;
    border-radius: 20px;
    transition: 1s;
  }
  .custom-input-file:hover{
    background-color: #df76cd;
  }
  
  .custom-input-file .input-file {
   border: 10000px solid transparent;
   cursor: pointer;
   font-size: 10000px;
   margin: 0;
   opacity: 0;
   outline: 0 none;
   padding: 0;
   position: absolute;
   right: -1000px;
   top: -1000px;
  }