.FormContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 25px;
}
.Form{
    width: 100%;
    padding-left: 12%;
    padding-right: 12%;
    flex-direction: column;
    align-items: center;
}
.ContainerButton{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.Button_1{
    width: 180px;
    height: 40px;
    background-color: #5F3473;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: var(--box-shadow-9-);
    transition: 1s;
}
.Button_1:hover{
    background-color: #5f3473a6;
}
.Button_2{
    width: 180px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #502565;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: var(--box-shadow-9-);
    transition: 1s;
}
.Button_2:hover{
    border: 1px solid #50256577;
}
.text_button_1{
    color: white;
}

.text_button_2{
    color: #502565;
}

.text_button_2:hover{
    color: #50256577;
}

.textStyle-1{
    cursor: pointer;
    margin-bottom: 80px;
}