.Body{
  width: 100vw;
  min-height: 100vh;
}

.flex-column{
  display: flex;
  flex-direction: column;
}
.align-center{
  align-items: center;
  justify-content: center;
}

.flex-row{
  display: flex;
  flex-direction: column;
}
.bg-purple{
  background-color: #662d910d  !important;
}
.bg-purple_light{
  background-color: #c32ee80f  !important;
}